html {
  color-scheme: light; /* light dark */
  font-family: system-ui;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #eee;
}

h1 {
  font-family: "Denk One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4em;
  margin: 0;
  text-align: center;
}

a {
  color: #134A8E; 
}

a:hover {
  color: #E8291C;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
}

.chart-container {
  display: flex;
  width:100%;
  flex-direction: column;
  /* align-items: center; */
}

.chart {
  /* flex-basis: 50%; */
  flex-grow: 1; 

}

.radial {
  height: 600px;
  width: 600px;
  /* max-height: 400px; */
  /* max-width: 100%; */
}

footer {
  font-size: 0.75em;
  color: #666;
}