html {
  color-scheme: light; 
  font-family: system-ui;
  height: 100%;
  background-color: #eee;
}

#app {
  /* display:flex; */
  display: block;
  justify-content: center;;
}

.container {
  max-width: 800px;
  /* min-width:320px; */
  /* display: flex; */
  margin: 0 auto;
  min-width: 0;
  width: 100%;
  flex-wrap: wrap;
  height: 100vh;

}

.chart-container {
  /* background: lightblue; */
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height:0;
  min-width: 0;
  max-width: 100%;
  overflow: hidden;
}

.chart {
  /* flex-grow: 1; 
  position: relative; 
  flex: 1; 
  min-height: 0;  */
  min-width: 0;
  width: 100%;
  overflow: hidden;
}

h1 {
  font-family: "Denk One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(2rem, 1rem + 4vw, 3rem);
  margin: 0;
  text-align: center;
  flex: 0 0 100%;
}

a {
  color: #134A8E; 
}

a:hover {
  color: #E8291C;
}

footer {
  font-size: 0.75em;
  color: #666;
  margin: 20px 0;
}